<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Sampling</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/">Classifier</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/observation/evaluate">Evaluate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/observation/history">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/observation/list">Samples</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/observation/statistics">Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/list">Users</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <% if (!user) { %>
              <li class="nav-item">
                <a class="nav-link" href="/user/login">Log in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/register">Register</a>
              </li>
              <% } else  {%>
                <li class="nav-item">
                  <a class="nav-link" href="/user/profile/<%= user.id %>">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user/logout">Log out</a>
                </li>
                <% } %>
              </ul>
              <!-- <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form> -->
          </div>
      </div>
    </nav>
    <body>
      <%- messages('partials/message', locals) %>
