<!-- NOTE: Alternatively, the keys in the messages object contain the
           arrays of each type (key). So you could loop through each
           key's array and do something different for each type -->

<div id="messages" class="container">
<% Object.keys(messages).forEach(function (type) { %>
  <% messages[type].forEach(function (message) { %>
    <% if (type === 'error') { %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= message %>
    </div>
    <% } else { %>
      <div class="alert alert-<%= type %>">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= message %>
      </div>
    <% } %>
  <% }) %>
<% }) %>
</div>
