<% include partials/header %>

<div class="container">
  <h4>Landing Page</h4>
  <h5>Evaluate</h5>
  <p>Presents a random sample text for the user to classify.</p>
  <h5>History</h5>
  <p>Shows all the previously evaluated samples, evaluator, and rating.</p>
  <h5>Samples</h5>
  <p>List of all available samples that can be evaluated.</p>
  <h5>Users</h5>
  <p>Shows all users and links to their public profile and number samples/oversations evaluated.</p>
  <h5>Stats</h5>
  <p>Shows general statistics on evaluated samples.</p>
  <h5>Profile</h5>
  <p>Shows personal profile with personal history.</p>
</div>

<% include partials/footer %>
