<% include partials/header %>

<div class="container-fluid">
    <br>
    <h1 class="text-center">Log in</h1>
    <form class="container" action="/user/login" method="POST">
        <div class="form-group">
            <label>Email Address</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
              <input class="form-control" type="email" name="email" placeholder="lknope@pawnee.gov" required>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2"><i class="fa fa-lock" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="password" placeholder="" required>
              <span class="input-group-btn" id="basic-addon6">
                <button type="button" name="resetPasswordButton" class="btn">Reset password</button>
              </span>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-secondary btn-block">Submit</button>
    </form>
</div>

<% include partials/footer %>
