<% include ../partials/header %>

<form class="container" action="" method="POST">
  <div class="form-group">
      <label>Select how severe you think the author of the following text suffers from depression:</label>
      <div class="lead container sample-text">
        <a class="btn btn-primary btn-sm pull-right" href="/observation/details/<%= data._id %>">View Details</a>
        <% if (data.title) { %>
          <h4><%= data.title %></h4>
        <% } %>
        <%= data.content_text %>
      </div>

      <div class="btn-group d-flex" role="group" data-toggle="buttons">
        <label class="btn btn-absent w-100">
          <input type="radio" name="rating" id="option1" value="0"> Absent
        </label>
        <label class="btn btn-mild w-100">
          <input type="radio" name="rating" id="option2" value="1"> Mild
        </label>
        <label class="btn btn-moderate w-100">
          <input type="radio" name="rating" id="option3" value="2"> Moderate
        </label>
        <label class="btn btn-severe w-100">
          <input type="radio" name="rating" id="option4" value="3"> Severe
        </label>
      </div>
  <input type="text" name="sample_id" id="sample_id" value="<%= data._id %>" hidden>
  </div>
  <div class="form-group">
      <label>Notes</label>
      <textarea type="textarea" rows="3" class="form-control" id="notes" name="notes"></textarea>
  </div>
  <br>
  <div class="d-flex justify-content-around">
    <button type="submit" class="btn btn-primary btn-lg">submit</button>
    <a href="/observation/evaluate" class="btn btn-secondary btn-lg">skip</a>
  </div>
</form>

<% include ../partials/footer %>
