<% include ../partials/header %>


<form class="container" action = "/submit-observation" method="POST">
    <div class = "form-group">
        <label>Select how severe you think the author of the following text suffers from depression:</label>
        <p class="lead container sample-text">"Depression isn't always at 3am when you're alone with only the thoughts in your head. Sometimes it's at 3pm, when you're surrounded by friends in the middle of laughing." This is high functioning depression. So many people don't get it. I look normal on the outside, but that's because I try very hard to.</p>
        <div class="btn-group d-flex" role="group" data-toggle="buttons">
          <label class="btn btn-success w-100">
            <input type="radio" name="options" id="option1"> Absent
          </label>
          <label class="btn btn-secondary w-100">
            <input type="radio" name="options" id="option2"> Mild
          </label>
          <label class="btn btn-warning w-100">
            <input type="radio" name="options" id="option3"> Moderate
          </label>
          <label class="btn btn-danger w-100">
            <input type="radio" name="options" id="option4"> Severe
          </label>
        </div>
    </div>
    <div class="form-group">
        <label>Notes</label>
        <textarea type="textarea" rows="3" class="form-control" id="notes"></textarea>
    </div>
    <br>
    <div class="container mybuttons">
      <button type="button" class="btn btn-primary mybuttons">submit</button>
      <br>
      <br>
      <button type="button" class="btn btn-secondary mybuttons">skip</button>
    </div>
</form>

<% include ../partials/footer %>
